body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.shuvo{
    color: orange;
}
.ali{
    color: red;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(black,red);
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sobur{
    box-shadow: 10px 10px 40px red;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#eity{
    border-image:linear-gradient(red,black);
    border-image-slice: 1;
    border-left: 10px solid;
}
#me{ border-image:linear-gradient(black,red);
    border-image-slice: 1;
    border-left: 10px solid;

}
footer p{
    text-align: center;
    color:red;
}